<!DOCTYPE html>
<html   lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleEstudiante_page.css">
    <script type="module" src="/js/appEstudiante_page.js"></script>
    <title>Notas</title>
</head>
<body>
    <div id="header">
        <h1> CONSULTA DE NOTAS PARA ESTUDIANTES </h1>
        <!-- Aquí puedes escribir tu comentario <img src="/images/register.png"/> -->
    </div>
    <div id="formulario">
        <label> ID Estudiante: </label> <input id="id_estudiante"/> <br/> <br/> <br/>    
        <button id="btnConsulta"> Consultar </button>
    </div> <br/> <br/> <br/> 
    <div>
        <label> NOMBRE:</label> <label id="nombre"></label><br/><br/>
        <table id="tabla"></table>
    </div>
</body>
</html>