<!DOCTYPE html>
<html   lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleHome.css">
    <script type="module" src="/js/appHome.js"></script>
    <title>Notas</title>
</head>
<body>
    <div id="header">
        <h1> ESCOJA SU ROL DE USUARIO </h1>
        <!-- Aquí puedes escribir tu comentario <img src="/images/register.png"/> -->
    </div>
    <main>
        <section id="uno">
            <article class="contenedor">
                <div class="lado">
                    <img src="/images/profesor.png">
                    <p><button id="btnDocente"> Docente </button></p>
                </div>
            </article>
            <article class="contenedor">
                <div class="lado">
                    <img src="/images/estudiante.png">
                    <p><button id="btnEstudiante"> Estudiante </button></p>
                </div>
            </article>
        </section>
    </main> 
</body>
</html>