<!DOCTYPE html>
<html   lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleProfesor_page.css">
    <script type="module" src="/js/appProfesor_page.js"></script>
    <title>Notas</title>
</head>
<body>
    <div id="header">
        <h1> FORMULARIO DE REGISTRO DE NOTAS POR DOCENTE </h1>
        <!-- Aquí puedes escribir tu comentario <img src="/images/register.png"/> -->
    </div>
    <div id="formulario">
         <label> ID Docente: </label> <input id="id_docente"/> <br/> <br/> <br/> 
         <label> Contraseña: </label> <input id="pass_docente"/> <br/> <br/> <br/>     
         <button id="btnIngreso"> Ingresar </button>
    </div> <br/>
    <div>
        <br/><br/>
        <label> DOCENTE:</label> <label id="nombre"></label><br/><br/>
        <label> ASIGNATURA:</label> <label id="materia"></label><br/><br/>
        <table id="table"></table>
    </div>
</body>
</html>